@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
/*------------------------------------navbar*/



.navbar {
    background: #000;
    font-family: "Oswald";
    text-transform: uppercase;
}

@media screen and (max-width:990px){
    .navbar .container {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .kascadeimg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .row .right-side-content .home-content {
        text-align: center;
    }
}

li {
   float: left;
}

ul li a {
    color: #fff;
}

.navbar a:hover {
    color: rgba(255, 255, 255, 0.253);
}

/*---------------------------------footer*/

.footer {
  position: fixed;
  padding-top: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a:hover{
    color: rgba(255, 255, 255, 0.253);
}

.footer ul li {
    display: inline-block;
    color: #fff;
    align-items: center;
    padding-right: 20px;
}


/*------------------------------------Home page split----- idea taken from MR.digital--- https://www.youtube.com/watch?v=bh3UAetYkUI----*/

.left-side-content, .right-side-content {
    height: 50vh;
    width: 100%;
    font-family: "Oswald";
}

@media screen and (min-width:850px)
{   
     
        .left-side-content, .right-side-content {
                   height: 100vh;
        }

    

}

.left-side-content {
    background: url("../images/mixerleft.png") no-repeat; 
    background-size: 100% auto;
}

.right-side-content {
    background: url("../images/mixerright.png") no-repeat; 
    background-size: 100% auto;

}



.home-content {
    color: #fff;
    padding: 40px;
    text-align: center
}


.right-side-content p {
    padding: 30px;
}

/*-------------------------------iframe*/

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 60%; 
  height: 0;
  margin-bottom: 40px;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.left-side-content h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 40px;
    padding-top: 40px;
}

/*------------------------------portfolio*/

.portfolio {
    
    height: 100vh;
    background: url(../images/speaker2.jpeg) no-repeat;
    background-size: cover;
    
}

.port-text {
    color: #fff;
    font-family: "Oswald";
    text-align: center;
    padding: 40px;
}

.portfolio .spotify-link {
    
    text-align: center;
    margin-top: 200px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fa-spotify {
    color: #fff;
}

.portfolio .spotify-link a .fa-spotify:hover {
    color: #1ed761;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}


/*-------------------------------------------contact page */

.contact {
    
    height: 100vh;
    background: url(../images/ableton1.jpeg) no-repeat;
    background-size: 100% auto;
    
    
}

.contact-heading {
    font-family: "Oswald", sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #fff;
}

.text-center {
    color: #fff;
}

.center-form {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #000000;
}


.overflow {
    overflow: hidden;
}
